In [58]:
import pandas as pd
import numpy as np
pd.read_excel(r'C:\Users\ASUS\ml\ml_demystified\projects\gis\raw_data.xlsx')

,نام,نام خانوادگی,کد ملی,موبایل,مرحله ثبت نام,شهر مورد تقاضا,شهر محل سکونت,آدرس متقاضی,کدپستی,وضعیت بارگذاری مدارک,...,جنسیت,میزان تحصیلات,نام پدر,شماره شناسنامه,تاریخ تولد,تعداد فرزندان,بعد خانوار,کد شعبه,نام شعبه,شماره حساب
0,حسن,گروسی,5098674451,9196177092,فاز 2,بوئین زهرا,بوئین زهرا,امیرآبادکهن خ اصلی گلستان 2,3454178378,بارگذاری نشده,...,مرد,دیپلم,ترابعلی,4442,1357/06/01,3.0,4.0,1668.0,بوئين زهرا,3.299007e+11
1,مرتضی,حاجی حسینی,4390754092,9032353898,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خ بوعلی پ22,3451738961,ناقص,...,مرد,زیر سیکل,غلامرضا,1485,1355/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299008e+11
2,رحمان,رفیعی,4391615207,9919248418,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خیابان الهیه8پلاک18,3451646436,بارگذاری نشده,...,مرد,دیپلم,فرمان,13,1362/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299010e+11
3,ابوالفضل,احمدی,5098799899,9127884216,فاز 2,بوئین زهرا,بوئین زهرا,بوئین زهرا خیابان پاسداران سرو 5 پ 16,3451737955,بارگذاری نشده,...,مرد,سیکل,قربانعلی,634,1351/03/10,2.0,3.0,1668.0,بوئين زهرا,3.299004e+11
4,جعفر,برزگراحمدی,5099580238,9368960462,فاز 2,بوئین زهرا,بوئین زهرا,بلوار امام خمینی خیابان شهیدنصرالهی,3451637311,بارگذاری نشده,...,مرد,فوق دیپلم,محمد,373,1363/06/26,2.0,3.0,1668.0,بوئين زهرا,3.299017e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6894,صادق,صادقی راد,4380317031,9304338613,واگذاری گروهی,قزوین,قزوین,NaN,NaN,بارگذاری نشده,...,مرد,فوق دیپلم,محمد,4380317031,1375/05/08,0.0,1.0,NaN,NaN,NaN
6895,بهمن,گنج ها,4310661378,9302332570,فاز 6,قزوین,قزوین,قزوین روستای فارسیان خیابان گلشن11,3431164685,بارگذاری نشده,...,مرد,سیکل,علی اکبر,4310661378,1369/11/12,3.0,4.0,NaN,NaN,NaN
6896,زهرا,امانی,4324466017,9197421004,کمیته امداد امام خمینی (ره),قزوین,قزوین,شهرک شهید بهشتی خیابان گلستان کوچه گلهای 8پلاک1,3416664781,بارگذاری نشده,...,زن,فوق دیپلم,تراب,4488,1365/02/08,1.0,1.0,NaN,NaN,NaN
6897,مجید,عسگری,4323123175,9128832897,فاز 6,قزوین,قزوین,قزوین شهرک کوثر بین میدان دوم و سوم برج ایثار ...,3471679831,ناقص,...,مرد,دیپلم,عبداله,512,1364/01/03,4.0,5.0,NaN,NaN,NaN
6898,لیلا,مهرعلیان,4390366726,9905539385,کمیته امداد امام خمینی (ره),شال,شال,نشانی: استان قزوین - شهرستان بوئین زهرا - بخش ...,3457114379,بارگذاری نشده,...,زن,زیر سیکل,مهیدالدین,8953,1358/02/08,NaN,NaN,NaN,NaN,NaN

In [59]:
df_cor= pd.read_csv(r'C:\Users\ASUS\ml\ml_demystified\projects\gis\gis_data.csv')
df_cor

,Unnamed: 0,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,0,بوئین زهرا,3454178378,35.767750,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...,...
6894,6894,قزوین,NaN,36.288528,50.007111,NaN,NaN,NaN,NaN
6895,6895,قزوین,3431164685,36.288528,50.007111,NaN,NaN,NaN,NaN
6896,6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6897,6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6898,6898,شال,"35.898278, 49.767889",35.898278,49.767889,NaN,NaN,3.589828e+01,49.767889

In [60]:
for col in df_cor.columns:
    print(col)
    print(df_cor[col].unique())
    print()
    print(df_cor[col].nunique())
    print(  )

Unnamed: 0
[   0    1    2 ... 6896 6897 6898]

6899

city
['بوئین زهرا' 'شال' 'قم' 'قزوین' 'دانسفهان' 'سگزآباد' 'آبگرم' 'الوند'
 'آوج' 'تهران' 'محمدیه' 'مجموعه شهری مهرگان' 'اقبالیه' 'شریفیه' 'بیدستان'
 'محمودآبادنمونه' 'تاکستان' 'آبیک' 'کوهین' 'معلم کلایه' 'طارم' 'ضیاآباد'
 'اسفرورین' 'رازمیان' 'خرمدشت' 'خاکعلی' 'رباطکریم' 'شهرجدیدهشتگرد'
 'نظرآباد' 'ارداق' 'بیجار' 'نرجه' 'اصفهان' 'ایرانشهر' 'کرج']

35

postal code
['3454178378' '35.767750, 50.057667' '3454157113' '3454177511'
 '1456944511' '3451173770' '3454178354' '335.812444, 49.742722'
 '3454177193' '3454114659' '3454178254' '36.252528, 50.182917'
 '3451134511' '3451143345' '3454157155' '3451134151'
 '35.898278, 49.767889' '3454194443' '35.769361, 49.939250' '3454114646'
 '3454133131' '3454153618' '3451154131' nan '3454176131' '3749175497'
 '36.288528, 50.007111' '3478834516' '1111111111' '3459157161'
 '3451356868' '3454153365' '3454176155' '3454113351' '3459195365'
 '3454154077' '8918945588' '3454113485' '3451158338' '3451134147'
 '3454157146' '3459131635' '1354896758' '3454114785' '3459124291'
 '3187189354' '3451133358' '3454111111' '3454116779' '3454133495'
 '3451143993' '3451172045' '3459157615' '3451172212' '3454113177'
 '3451172899' '3454177381' '3451172257' '3451134839' '3434163399'
 '3451170986' '3454151138' '3451136557' '35.935083, 49.748333'
 '3451172027' '3451168118' '3454159866' '3454153415' '3454143413'
 '3459152242' '3459131355' '3454143879' '3454176777' '4584118387'
 '3454132049' '3454143720' '3454114258' '3454178385' '3451158147'
 '3454156156' '3454115824' '3411934511' '3451173428' '3454122046'
 '3454153595' '3459136111' '35.756778, 49.285750' '3454153544'
 '3451135315' '3454143531' '3459116873' '3454153647' '3451139146'
 '3459175779' '3455181106' '3431171784' '3454133548' '3451171204'
 '3451171533' '3454171377' '3641746548' '3451158591' '3455183338'
 '3454113631' '36.044611, 50.533694' '3451139040' '3451134711'
 '3454152369' '336.129472, 50.176556' '3454176148' '3455181117'
 '3454159613' '3454178259' '3543133293' '3454157282' '3454135671'
 '3454153839' '3451186414' '3451173867' '3451172826' '3451173097'
 '3454152536' '3454112530' '3451134573' '3459163995' '3443118296'
 '4458177198' '3454144715' '3451171408' '3451133116' '3454116958'
 '3454114455' '3451133478' '3451133171' '3454177584' '3454145895'
 '3478134517' '3454113185' '3451172277' '3454116339'
 '35.579889, 49.222306' '3454143386' '3454143806' '3454177448'
 '3459152845' '3451143158' '3459136114' '3451167743' '3459156990'
 '3454153780' '3454144102' '3459120015' '3454113541' '3454151143'
 '3451133287' '3451134148' '3454136671' '3451133161' '3454199174'
 '3451139381' '3451154113' '3455157559' '3454113751' '3454155384'
 '3451134165' '3454163119' '3451133587' '3451133189' '3454143661'
 '3459131681' '3459184361' '36.230583, 49.923722' '3459153235'
 '3451336477' '3454134115' '3451171928' '3459155731' '3454121173'
 '3454111376' '3459131772' '3459151784' '3459154310' '3451167745'
 '3451167615' '3454143477' '3454134543' '3449187424' '3459153585'
 '3454177116' '3454113157' '3451172924' '3459181545' '3459152633'
 '3435117246' '3454177037' '1111111112' '3459154353' '3454143449'
 '3454154466' '3459181961' '3451134333' '3459152351' '3451134561'
 '3459176231' '3451134131' '3454176699' '3459194218' '3454174128'
 '3454143818' '3454114758' '1651636353' '36.188500, 50.058972'
 '3491778377' '3491745899' '36.223528, 50.182528' '3491715378'
 '36.214028, 50.152056' '3436113479' '3446155775' '36.232250, 50.122000'
 '3436139394' '3491769815' '3491785564' '3417683392' '18' '3417688763'
 '3491776736' '3491785535' '3333333333' '3445136937' '3491743776'
 '3478157126' '3421111111' '3449135476' '3491733995' '3445133833'
 '3491747949' '3445114151' '4457135591' '36.292306, 49.899778'
 '3414122272' '3491746519' '3491783167' '3445135045' '3431111111'
 '3491749644' '3414147543' '3419113131' '3439391734' '3491746876'
 '4448151167' '3491757943' '3491783711' '3471111111' '3491755194'
 '3411111111' '3455133186' '3417636663' '91968683' '3491763491' '111111'
 '3417677913' '3491753166' '3491736541' '3491778151' '3491783716'
 '3491743741' '3491754885' '34191' '3411756698' '3491783964' '341951163'
 '14421614' '3436139483' '3491715343' '1442661515' '3491743384'
 '3491738656' '3491757316' '3491776657' '3414116141' '3491784685'
 '3491736417' '32567064' '36.069361, 49.694056' '3491743777' '3491735176'
 '3491784994' '3491787664' '3491718868' '3491745974' '3433175774'
 '1476695334' '3491758478' '3419501163' '111111111' '3491758757'
 '3491759574' '3491736112' '3417664338' '3436139578' '3554434434'
 '4310470971' '3491711111' '3991387681' '4325874698' '4319614416'
 '4371754346' '3491764491' '1441117122' '3491786915' '3494119316'
 '3491757517' '3491757499' '3491144533' '3421215423' '3417647001'
 '3435633751' '3491748331' '3411737683' '3491786711' '4391653348'
 '3491783535' '3491779846' '3491743352' '3433154193' '3419118313'
 '3419199132' '3491769769' '3491779658' '3445133580' '3491785566'
 '339983431' '3433144534' '3491769557' '3417655915' '3491769361'
 '4391814683' '3417614873' '3491768341' '3975834361' '3414427612'
 '5099858139' '3491766465' '3491756145' '343433434' '343343434'
 '3491759896' '3479166113' '3491736181' '3491759591' '3314134583'
 '3491768469' '3419317766' '4913834918' '3491786876' '3491779961'
 '3491759961' '3475111875' '3436139576' '3491755979' '3491745633'
 '4413434914' '3433113257' '3491737491' '3414135417' '3419331319'
 '144220123' '1418453431' '3491737699' '3495151911' '3785434718'
 '3431197591' '3441144484' '342951163' '1457854698' '3491776751'
 '1441127119' '3491763543' '3491743936' '3491773456' '3491759799'
 '3491717699' '4341833817' '1442181113' '3316895869' '3491748191'
 '3491771111' '3491787711' '3491777357' '3491755615' '3945134916'
 '3491714933' '3445113837' '3417614715' '4391966169' '3419117875'
 '3411868371' '3491783736' '3491766547' '3431173355' '4391967681'
 '3491755864' '4316898839' '3491769316' '3417649414' '3499387167'
 '4943134310' '3419333781' '3445133749' '3445135653' '3491787175'
 '3417619183' '3414131360' '3433145138' '3491713591' '3433147367'
 '3445137483' '3491111111' '3455171425' '3491759611' '3491775186'
 '3491767384' '3491783698' '8013158156' '3444141494' '3481136499'
 '3491757461' '3468773431' '3491748948' '3491778789' '3474743366'
 '3431195731' '6319919313' '3435186135' '3417665879' '3419314998'
 '3431143955' '3491753666' '3431197476' '3417615683' '3491783837'
 '1573915841' '3417617814' '3417657867' '3491755177' '          '
 '36.451250, 50.478000' '3414146367' '3417677496' '3491747985'
 '3491779595' '3419313469' '3417685364' '3419317541' '3417685694'
 '3411834113' '3454154591' '3491783684' '9999999999' '4315845934'
 '3491745343' '3431135533' '4391347443' '3491775575' '1664734316'
 '3419114619' '3417677545' '3411387635' '3491719554' '3417653695'
 '3491759941' '3433179551' '3491748343' '3491759671' '3431176840'
 '3445134699' '35.995444, 49.445278' '35.848361, 50.890361' '3459193856'
 '3494175974' '3433333333' '3491759335' '3459122438' '3431195757'
 '3455173317' '3417644616' '3491777741' '3454135495' '3491753654'
 '3419195169' '3491785666' '3491773551' '3481135579' '3491718564'
 '3436113319' '3466184141' '3431176285' '3491744928'
 '36.542111, 50.210833' '4391343881' '3461163631' '3459115739'
 '3455174481' '36.649361, 49.190333' '3494119843' '3495874216'
 '3478131333' '3491713183' '3491783978' '3465148133' '3479178520'
 '3491735648' '3459193966' '3491765196' '3491746668' '3341334414'
 '3445133373' '3491144417' '3491785961' '4491911145' '3411485776'
 '3491746791' '3417646456' '3414318151' '3491755997' '3491746659'
 '3433146344' '3417678733' '3491755696' '3491746999' '3491765547'
 '3491778571' '3411489584' '3419335147' '3433147423' '3491755311'
 '3491713498' '3491143818' '3491733952' '3419335491' '3411931374'
 '3479143579' '3491748433' '3491759891' '3491778143' '3491714457'
 '3491764777' '3433157363' '3491774671' '3419341653' '3419311344'
 '3491766185' '7174434913' '3491777199' '3433175551' '3491757996'
 '3433151666' '3491757790' '3491755191' '3487165514' '3417615777'
 '3447118799' '1354764175' '3414141643' '3411151935' '3443119910'
 '3348116773' '3441145353' '3444115837' '4317315315' '3444131431'
 '3447115353' '3469161136' '3444196753' '3761610077' '3447119581'
 '3461164136' '3447131117' '3447144111' '3447143137' '3441144186'
 '3361817596' '3431194441' '3444144134' '3447114786' '3444131151'
 '3444154354' '3443114157' '3443119136' '3494175419' '3441151117'
 '3131957546' '3444113849' '3443115885' '3441143786' '3444155469'
 '3417616886' '3441473986' '3443117999' '3447111753' '3444131333'
 '3443115867' '3441151119' '3444114369' '3447113458' '3444471161'
 '3491773593' '3414346599' '3444193651' '3443117367' '3447138002'
 '3419113136' '3494173533' '3455141066' '3444113771' '3443116437'
 '3445135694' '3447112488' '3441142364' '3494176375' '4314181111'
 '3447113788' '3331333511' '3443119203' '1744995858' '3443119267'
 '3431195817' '3445113797' '3431183519' '3443116653' '3431196617'
 '3441134457' '3444113735' '3447118773' '3417617363' '3419198789'
 '3444146141' '3455153371' '3447144197' '3455154295' '3331946556'
 '3447131198' '3331946578' '3444131311' '3447112977' '3419318833'
 '3441144334' '3447144173' '3443116169' '3444154112' '3443117471'
 '3447118875' '3447114673' '3481146335' '3481474314' '3481151118'
 '4381343686' '3455155335' '3561886788' '4381358850' '3495134472'
 '4381956499' '3417658141' '3488111444' '3494145158' '4381854386'
 '3489164859' '3494186364' '3478144488' '4381744751' '3455131366'
 '3489164377' '3481135364' '3489115379' '3455133318' '3488141407'
 '3481136666' '3481473986' '4381363466' '3481133375' '3459131717'
 '3481115994' '3484175329' '3479114755' '3444141431' '3414115175'
 '3433146659' '3713183999' '3414145664' '3459151752' '8148767431'
 '3419126921' '3419334463' '3494119149' '3479155354'
 '36.054028, 49.826194' '3479155479' '3417658971' '8918945599'
 '36.371667, 49.662000' '3419345488' '3417635117' '3433157145'
 '3419126536' '3419136175' '3419195531' '3419315988' '3419131897'
 '3419195847' '3419318116' '3449176487' '3419315976' '3419317547'
 '3455157343' '4319385856' '3113175441' '3419114997' '3419348539'
 '3479155369' '3413444635' '3419112540' '3419346855' '3454143785'
 '3419338515' '3419333474' '3455136734' '3419341794' '3417637561'
 '3479116565' '3419194847' '3445157486' '3419196733' '3419195659'
 '3454112565' '3433154039' '3411687875' '3419115747' '3419374321'
 '9861437513' '3419311111' '4313165517' '3455163533' '3479154149'
 '3455163355' '3499434719' '3455179381' '3449187356' '3449156198'
 '3433153176' '3419153135' '3419119119' '3315766987' '1386174452'
 '3419313719' '3449144767' '3449147505' '3419315536' '3479119615'
 '3458879465' '3479145158' '3449151155' '3449115378' '3481125487'
 '3464933764' '3461141715' '3461164174' '3461133158' '3476151134'
 '3461113114' '3461113144' '3461133452' '3861638549' '3494144474'
 '3419113138' '3461134116' '3461153470' '3436136242' '3461163159'
 '3614739869' '3461164368' '3466181116' '3461133193' '3481125698'
 '3481117979' '3419145548' '3469153855' '3468158838' '3461113163'
 '3466173331' '3463111168' '3195685916' '3461141155' '3465137184'
 '3481138896' '3461113139' '3419331981' '3481112588' '4315743547'
 '3487151166' '3466181168' '3433147343' '3661643535' '3465148155'
 '4319935438' '3461133366' '3461163807' '3487166739' '3466134111'
 '3481117186' '3466173351' '3417657673' '3436133736' '3461163491'
 '3461141476' '3461113446' '3476149367' '3351615485' '3469184119'
 '1896881757' '3461133456' '3419115661' '7347158817' '3455193459'
 '3481136574' '3461141188' '3481134678' '3461163874' '3481135339'
 '3455157683' '3487171115' '3417647464' '3479141176' '3414123124'
 '3466177302' '3466164113' '3437163462' '3487156783' '3479114157'
 '3417676314' '3479168179' '3419378638' '3433145156' '3479111111'
 '3455167131' '3433149245' '3449143436' '3469114574' '3431196515'
 '3431164685']

849

city_GIS_1
[35.76775  35.898278       nan 36.288528 35.812444 35.769361 35.756778
 36.1885   35.579889 36.223528 36.252528 36.230583 36.214028 36.23225
 36.292306 36.069361 36.044611 36.371667 36.45125  35.995444 35.935083
 36.542111 35.848361 36.129472 36.054028 35.995944]

25

city_GIS_2
[50.057667 49.767889       nan 50.007111 49.742722 49.93925  49.28575
 50.058972 49.222306 50.182528 50.182917 49.923722 50.152056 50.122
 49.899778 49.694056 50.533694 49.662    50.478    49.445278 49.748333
 50.210833 50.890361 50.176556 49.826194 49.620972]

25

branch_GIS_1
[35.76775          nan 36.223528  36.288528  36.1885    36.069361
 36.230583  36.044611  35.7075737]

8

branch_GIS_2
[50.057667         nan 50.182528  50.007111  50.058972  49.694056
 49.923722  50.533694  51.3476552]

8

postalcode_GIS_1
[3.45417838e+09 3.57677500e+01            nan 3.35812444e+02
 3.62525280e+01 3.58982780e+01 3.57693610e+01 3.62885280e+01
 3.59350830e+01 3.57567780e+01 3.60446110e+01 3.36129472e+02
 3.55798890e+01 3.62305830e+01 3.61885000e+01 3.62235280e+01
 3.62140280e+01 3.62322500e+01 1.80000000e+01 3.62923060e+01
 9.19686830e+07 1.11111000e+05 3.41910000e+04 3.41951163e+08
 1.44216140e+07 3.25670640e+07 3.60693610e+01 1.11111111e+08
 3.39983431e+08 3.43433434e+08 3.43343434e+08 1.44220123e+08
 3.42951163e+08 3.64512500e+01 3.59954440e+01 3.58483610e+01
 3.65421110e+01 3.66493610e+01 3.60540280e+01 3.63716670e+01]

39

postalcode_GIS_2
[      nan 50.057667 49.742722 50.182917 49.767889 49.93925  50.007111
 49.748333 49.28575  50.533694 50.176556 49.222306 49.923722 50.058972
 50.182528 50.152056 50.122    49.899778 49.694056 50.478    49.445278
 50.890361 50.210833 49.190333 49.826194 49.662   ]

25

In [61]:
cor_sum= df_cor['city_GIS_1']+df_cor['city_GIS_2']
print(cor_sum)
print()
print(cor_sum.nunique())

0       85.825417
1       85.825417
2       85.825417
3       85.825417
4       85.825417
          ...
6894    86.295639
6895    86.295639
6896    86.295639
6897    86.295639
6898    85.666167
Length: 6899, dtype: float64

25

In [62]:
df= pd.read_excel(r'C:\Users\ASUS\ml\ml_demystified\projects\gis\raw_data.xlsx')
df.describe()

,کد ملی,موبایل,شماره شناسنامه,تعداد فرزندان,بعد خانوار,کد شعبه,شماره حساب
count,6.899000e+03,6.899000e+03,6.899000e+03,6269.000000,6269.000000,4633.000000,4.633000e+03
mean,4.350745e+09,9.236167e+09,1.251095e+12,1.064604,2.026320,2459.057414,3.299029e+11
std,1.222729e+09,2.000527e+08,7.339644e+13,0.940885,0.945943,839.543892,1.605981e+06
min,1.079881e+07,9.010215e+09,0.000000e+00,0.000000,1.000000,1111.000000,3.299001e+11
25%,4.310812e+09,9.126819e+09,3.100000e+02,0.000000,1.000000,1668.000000,3.299021e+11
50%,4.324545e+09,9.191938e+09,2.126000e+03,1.000000,2.000000,2864.000000,3.299028e+11
75%,5.090070e+09,9.199884e+09,4.310092e+09,2.000000,3.000000,2864.000000,3.299039e+11
max,6.770015e+09,9.991458e+09,4.311339e+15,7.000000,8.000000,4281.000000,3.299058e+11

In [63]:
print(df.index)
df.columns

RangeIndex(start=0, stop=6899, step=1)

Index(['نام', 'نام خانوادگی', 'کد ملی', 'موبایل', 'مرحله ثبت نام',
       'شهر مورد تقاضا', 'شهر محل سکونت', 'آدرس متقاضی', 'کدپستی',
       'وضعیت بارگذاری مدارک', 'وضعیت سرپرستی', 'شغل', 'جنسیت',
       'میزان تحصیلات', 'نام پدر', 'شماره شناسنامه', 'تاریخ تولد',
       'تعداد فرزندان', 'بعد خانوار', 'کد شعبه', 'نام شعبه', 'شماره حساب'],
      dtype='object')

In [64]:
df.isnull().sum()

نام                        0
نام خانوادگی               0
کد ملی                     0
موبایل                     0
مرحله ثبت نام              0
شهر مورد تقاضا             0
شهر محل سکونت              0
آدرس متقاضی              376
کدپستی                   685
وضعیت بارگذاری مدارک       0
وضعیت سرپرستی              0
شغل                     5825
جنسیت                      0
میزان تحصیلات              0
نام پدر                    0
شماره شناسنامه             0
تاریخ تولد                 0
تعداد فرزندان            630
بعد خانوار               630
کد شعبه                 2266
نام شعبه                2266
شماره حساب              2266
dtype: int64

In [65]:
df_cor.isnull().sum()

Unnamed: 0             0
city                   0
postal code          685
city_GIS_1            13
city_GIS_2            13
branch_GIS_1        2266
branch_GIS_2        2266
postalcode_GIS_1    1702
postalcode_GIS_2    1720
dtype: int64

In [66]:


Class= pd.DataFrame(np.empty([6899,1], dtype=int))
df_cor= pd.concat([df_cor,Class],axis=1, join='inner')
df_cor.rename(columns={0: "Class"}, inplace=True)

for j in range(6898):
    df_cor['Class'][0]= 1
    
    if df_cor['city'][j]==df_cor['city'][j+1]:
        
        df_cor['Class'][j+1]= df_cor['Class'][j]
        
    elif df_cor['city'][j]!= df_cor['city'][j+1]:
        for i in range(j-1, -1,-1):
            if df_cor['Class'][j+1]== df_cor['Class'][i]:
                df_cor['Class'][j+1]= df_cor['Class'][i]
            else:
                i-+1
    
        
df_cor

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5844\1400005630.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cor['Class'][0]= 1
C:\Users\ASUS\AppData\Local\Temp\ipykernel_5844\1400005630.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cor['Class'][j+1]= df_cor['Class'][j]
C:\Users\ASUS\AppData\Local\Temp\ipykernel_5844\1400005630.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cor['Class'][j+1]= df_cor['Class'][i]

,Unnamed: 0,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2,Class
0,0,بوئین زهرا,3454178378,35.767750,50.057667,35.76775,50.057667,3.454178e+09,NaN,1
1,1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667,1
2,2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667,1
3,3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667,1
4,4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667,1
...,...,...,...,...,...,...,...,...,...,...
6894,6894,قزوین,NaN,36.288528,50.007111,NaN,NaN,NaN,NaN,16843008
6895,6895,قزوین,3431164685,36.288528,50.007111,NaN,NaN,NaN,NaN,16843008
6896,6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111,16843008
6897,6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111,16843008
6898,6898,شال,"35.898278, 49.767889",35.898278,49.767889,NaN,NaN,3.589828e+01,49.767889,16843009