In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('https://github.com/mmortazavi/ml_demystified/raw/main/projects/gis/gis_data.csv')
df

,Unnamed: 0,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,0,بوئین زهرا,3454178378,35.767750,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...,...
6894,6894,قزوین,NaN,36.288528,50.007111,NaN,NaN,NaN,NaN
6895,6895,قزوین,3431164685,36.288528,50.007111,NaN,NaN,NaN,NaN
6896,6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6897,6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6898,6898,شال,"35.898278, 49.767889",35.898278,49.767889,NaN,NaN,3.589828e+01,49.767889

In [3]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6899 entries, 0 to 6898
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        6899 non-null   int64
 1   city              6899 non-null   object
 2   postal code       6214 non-null   object
 3   city_GIS_1        6886 non-null   float64
 4   city_GIS_2        6886 non-null   float64
 5   branch_GIS_1      4633 non-null   float64
 6   branch_GIS_2      4633 non-null   float64
 7   postalcode_GIS_1  5197 non-null   float64
 8   postalcode_GIS_2  5179 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 485.2+ KB

In [4]:
df.describe(percentiles=[0.1,0.25,0.5,0.75,0.9])

,Unnamed: 0,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
count,6899.000000,6886.000000,6886.000000,4633.000000,4633.000000,5.197000e+03,5179.000000
mean,3449.000000,36.126343,50.054557,36.135882,50.119157,1.199879e+06,50.011474
std,1991.714086,0.197080,0.263723,0.178326,0.151452,4.945171e+07,0.265501
min,0.000000,35.579889,49.222306,35.707574,49.694056,1.800000e+01,49.190333
10%,689.800000,35.767750,49.694056,35.767750,49.923722,3.576775e+01,49.694056
25%,1724.500000,36.044611,50.007111,36.069361,50.057667,3.604461e+01,49.923722
50%,3449.000000,36.223528,50.057667,36.223528,50.182528,3.623058e+01,50.007111
75%,5173.500000,36.252528,50.182917,36.223528,50.182528,3.628853e+01,50.058972
90%,6208.200000,36.288528,50.182917,36.288528,50.182528,3.628853e+01,50.533694
max,6898.000000,36.542111,50.890361,36.288528,51.347655,3.454178e+09,50.890361

In [5]:
df=df.loc[:,(df.columns !='Unnamed: 0')]
df

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.767750,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,قزوین,NaN,36.288528,50.007111,NaN,NaN,NaN,NaN
6895,قزوین,3431164685,36.288528,50.007111,NaN,NaN,NaN,NaN
6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6898,شال,"35.898278, 49.767889",35.898278,49.767889,NaN,NaN,3.589828e+01,49.767889

In [6]:
df.dropna(thresh=2)  #drop raws that have not at least 2 non-NaN values

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.767750,50.057667,35.76775,50.057667,3.454178e+09,NaN
1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.76775,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,قزوین,NaN,36.288528,50.007111,NaN,NaN,NaN,NaN
6895,قزوین,3431164685,36.288528,50.007111,NaN,NaN,NaN,NaN
6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,NaN,NaN,3.628853e+01,50.007111
6898,شال,"35.898278, 49.767889",35.898278,49.767889,NaN,NaN,3.589828e+01,49.767889

In [7]:
df1=df.fillna(method='ffill')
df1

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.767750,50.057667,35.767750,50.057667,3.454178e+09,NaN
1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6895,قزوین,3431164685,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6898,شال,"35.898278, 49.767889",35.898278,49.767889,36.223528,50.182528,3.589828e+01,49.767889

In [8]:
df2=df1.fillna(value={'postalcode_GIS_2':50.057667},limit=1)
df2

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.767750,50.057667,35.767750,50.057667,3.454178e+09,50.057667
1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6895,قزوین,3431164685,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6898,شال,"35.898278, 49.767889",35.898278,49.767889,36.223528,50.182528,3.589828e+01,49.767889

In [9]:
df2.columns

Index(['city', 'postal code', 'city_GIS_1', 'city_GIS_2', 'branch_GIS_1',
       'branch_GIS_2', 'postalcode_GIS_1', 'postalcode_GIS_2'],
      dtype='object')

In [10]:
df2.groupby('city').count()

,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
city,,,,,,,
آبگرم,51,51,51,51,51,51,51
آبیک,615,615,615,615,615,615,615
آوج,223,223,223,223,223,223,223
ارداق,82,82,82,82,82,82,82
اسفرورین,16,16,16,16,16,16,16
اصفهان,1,1,1,1,1,1,1
اقبالیه,389,389,389,389,389,389,389
الوند,159,159,159,159,159,159,159
ایرانشهر,1,1,1,1,1,1,1
بوئین زهرا,803,803,803,803,803,803,803
بیجار,1,1,1,1,1,1,1
بیدستان,23,23,23,23,23,23,23
تاکستان,523,523,523,523,523,523,523
تهران,4,4,4,4,4,4,4
خاکعلی,4,4,4,4,4,4,4
خرمدشت,1,1,1,1,1,1,1
دانسفهان,41,41,41,41,41,41,41
رازمیان,7,7,7,7,7,7,7
رباطکریم,1,1,1,1,1,1,1
سگزآباد,20,20,20,20,20,20,20
شال,45,45,45,45,45,45,45
شریفیه,26,26,26,26,26,26,26
شهرجدیدهشتگرد,1,1,1,1,1,1,1
ضیاآباد,28,28,28,28,28,28,28
طارم,1,1,1,1,1,1,1
قزوین,1136,1136,1136,1136,1136,1136,1136
قم,1,1,1,1,1,1,1
مجموعه شهری مهرگان,1150,1150,1150,1150,1150,1150,1150
محمدیه,1320,1320,1320,1320,1320,1320,1320
محمودآبادنمونه,194,194,194,194,194,194,194
معلم کلایه,10,10,10,10,10,10,10
نرجه,11,11,11,11,11,11,11
نظرآباد,1,1,1,1,1,1,1
کرج,1,1,1,1,1,1,1
کوهین,9,9,9,9,9,9,9

In [11]:
df2.corr()

,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
city_GIS_1,1.000000,0.368758,0.849180,0.161882,-0.016306,0.252859
city_GIS_2,0.368758,1.000000,0.302096,0.538018,0.004929,0.871918
branch_GIS_1,0.849180,0.302096,1.000000,0.083710,-0.018774,0.215599
branch_GIS_2,0.161882,0.538018,0.083710,1.000000,0.002184,0.477286
postalcode_GIS_1,-0.016306,0.004929,-0.018774,0.002184,1.000000,0.003150
postalcode_GIS_2,0.252859,0.871918,0.215599,0.477286,0.003150,1.000000

In [12]:
df2.city=df2.city.apply(['قزوین','بوئین زهرا','شال','دانسفهان','آبگرم','آبیک','آوج','ارداق','اسفرورین','اصفهان','اقبالیه','الوند','ایرانشهر','بیجار','بیدستان','تاکستان','تهران','خاکعلی','خرمدشت','رازمیان','رباطکریم','سگزآباد','شریفیه','شهرجدیدهشتگرد','ضیاآباد','طارم','قم','مجموعه شهری مهرگان','محمدیه','محمودآبادنمونه','معلم کلایه','نرجه','نظرآباد','کرج','کوهین'].index)

In [13]:
df2

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,1,3454178378,35.767750,50.057667,35.767750,50.057667,3.454178e+09,50.057667
1,1,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
2,1,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
3,1,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
4,1,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,0,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6895,0,3431164685,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6896,0,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6897,0,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6898,2,"35.898278, 49.767889",35.898278,49.767889,36.223528,50.182528,3.589828e+01,49.767889

In [14]:
df2.describe()

,city,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
count,6899.000000,6899.000000,6899.000000,6899.000000,6899.000000,6.899000e+03,6899.000000
mean,14.040296,36.126147,50.054469,36.130834,50.096518,9.247806e+05,50.000485
std,11.825264,0.197253,0.264065,0.176695,0.181470,4.295725e+07,0.257708
min,0.000000,35.579889,49.222306,35.707574,49.694056,1.800000e+01,49.190333
25%,1.000000,36.044611,50.007111,36.069361,50.007111,3.604461e+01,49.923722
50%,11.000000,36.223528,50.057667,36.223528,50.182528,3.623058e+01,50.007111
75%,27.000000,36.252528,50.182917,36.223528,50.182528,3.628853e+01,50.058972
max,34.000000,36.542111,50.890361,36.288528,51.347655,3.454178e+09,50.890361

In [15]:
df2.corr()

,city,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
city,1.000000,0.437991,0.185802,0.460594,0.044187,-0.001200,0.062980
city_GIS_1,0.437991,1.000000,0.368758,0.849180,0.161882,-0.016306,0.252859
city_GIS_2,0.185802,0.368758,1.000000,0.302096,0.538018,0.004929,0.871918
branch_GIS_1,0.460594,0.849180,0.302096,1.000000,0.083710,-0.018774,0.215599
branch_GIS_2,0.044187,0.161882,0.538018,0.083710,1.000000,0.002184,0.477286
postalcode_GIS_1,-0.001200,-0.016306,0.004929,-0.018774,0.002184,1.000000,0.003150
postalcode_GIS_2,0.062980,0.252859,0.871918,0.215599,0.477286,0.003150,1.000000

In [16]:
df2.isnull().sum()

city                0
postal code         0
city_GIS_1          0
city_GIS_2          0
branch_GIS_1        0
branch_GIS_2        0
postalcode_GIS_1    0
postalcode_GIS_2    0
dtype: int64

In [17]:
df= df[~df.city_GIS_1.isnull()].copy()

In [18]:
df= df[~df.postalcode_GIS_1.isnull()].copy()

In [19]:
df= df[~df.branch_GIS_1.isnull()].copy()

In [20]:
df2= df1[~df2.postalcode_GIS_2.isnull()].copy()

In [21]:
df2.isnull().sum()

city                0
postal code         0
city_GIS_1          0
city_GIS_2          0
branch_GIS_1        0
branch_GIS_2        0
postalcode_GIS_1    0
postalcode_GIS_2    1
dtype: int64

In [22]:
df2.describe()

,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
count,6899.000000,6899.000000,6899.000000,6899.000000,6.899000e+03,6898.000000
mean,36.126147,50.054469,36.130834,50.096518,9.247806e+05,50.000477
std,0.197253,0.264065,0.176695,0.181470,4.295725e+07,0.257725
min,35.579889,49.222306,35.707574,49.694056,1.800000e+01,49.190333
25%,36.044611,50.007111,36.069361,50.007111,3.604461e+01,49.923722
50%,36.223528,50.057667,36.223528,50.182528,3.623058e+01,50.007111
75%,36.252528,50.182917,36.223528,50.182528,3.628853e+01,50.058972
max,36.542111,50.890361,36.288528,51.347655,3.454178e+09,50.890361

In [23]:
df2.corr()

,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
city_GIS_1,1.000000,0.368758,0.849180,0.161882,-0.016306,0.252979
city_GIS_2,0.368758,1.000000,0.302096,0.538018,0.004929,0.871920
branch_GIS_1,0.849180,0.302096,1.000000,0.083710,-0.018774,0.215732
branch_GIS_2,0.161882,0.538018,0.083710,1.000000,0.002184,0.477296
postalcode_GIS_1,-0.016306,0.004929,-0.018774,0.002184,1.000000,0.002245
postalcode_GIS_2,0.252979,0.871920,0.215732,0.477296,0.002245,1.000000

In [24]:
df2.groupby('city').count()

,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
city,,,,,,,
آبگرم,51,51,51,51,51,51,51
آبیک,615,615,615,615,615,615,615
آوج,223,223,223,223,223,223,223
ارداق,82,82,82,82,82,82,82
اسفرورین,16,16,16,16,16,16,16
اصفهان,1,1,1,1,1,1,1
اقبالیه,389,389,389,389,389,389,389
الوند,159,159,159,159,159,159,159
ایرانشهر,1,1,1,1,1,1,1
بوئین زهرا,803,803,803,803,803,803,802
بیجار,1,1,1,1,1,1,1
بیدستان,23,23,23,23,23,23,23
تاکستان,523,523,523,523,523,523,523
تهران,4,4,4,4,4,4,4
خاکعلی,4,4,4,4,4,4,4
خرمدشت,1,1,1,1,1,1,1
دانسفهان,41,41,41,41,41,41,41
رازمیان,7,7,7,7,7,7,7
رباطکریم,1,1,1,1,1,1,1
سگزآباد,20,20,20,20,20,20,20
شال,45,45,45,45,45,45,45
شریفیه,26,26,26,26,26,26,26
شهرجدیدهشتگرد,1,1,1,1,1,1,1
ضیاآباد,28,28,28,28,28,28,28
طارم,1,1,1,1,1,1,1
قزوین,1136,1136,1136,1136,1136,1136,1136
قم,1,1,1,1,1,1,1
مجموعه شهری مهرگان,1150,1150,1150,1150,1150,1150,1150
محمدیه,1320,1320,1320,1320,1320,1320,1320
محمودآبادنمونه,194,194,194,194,194,194,194
معلم کلایه,10,10,10,10,10,10,10
نرجه,11,11,11,11,11,11,11
نظرآباد,1,1,1,1,1,1,1
کرج,1,1,1,1,1,1,1
کوهین,9,9,9,9,9,9,9

In [25]:
df2

,city,postal code,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,3454178378,35.767750,50.057667,35.767750,50.057667,3.454178e+09,NaN
1,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,"35.767750, 50.057667",35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...,...
6894,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6895,قزوین,3431164685,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6896,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6897,قزوین,"36.288528, 50.007111",36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6898,شال,"35.898278, 49.767889",35.898278,49.767889,36.223528,50.182528,3.589828e+01,49.767889

In [26]:
from sklearn import datasets
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics as met

In [27]:
df2.columns

Index(['city', 'postal code', 'city_GIS_1', 'city_GIS_2', 'branch_GIS_1',
       'branch_GIS_2', 'postalcode_GIS_1', 'postalcode_GIS_2'],
      dtype='object')

In [28]:
x=df2.loc[:, ['city','city_GIS_1','city_GIS_2','branch_GIS_1','branch_GIS_2','postalcode_GIS_1','postalcode_GIS_2']]
y=df2.loc[:, ["postal code"]]

In [29]:
x

,city,city_GIS_1,city_GIS_2,branch_GIS_1,branch_GIS_2,postalcode_GIS_1,postalcode_GIS_2
0,بوئین زهرا,35.767750,50.057667,35.767750,50.057667,3.454178e+09,NaN
1,بوئین زهرا,35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
2,بوئین زهرا,35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
3,بوئین زهرا,35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
4,بوئین زهرا,35.767750,50.057667,35.767750,50.057667,3.576775e+01,50.057667
...,...,...,...,...,...,...,...
6894,قزوین,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6895,قزوین,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6896,قزوین,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6897,قزوین,36.288528,50.007111,36.223528,50.182528,3.628853e+01,50.007111
6898,شال,35.898278,49.767889,36.223528,50.182528,3.589828e+01,49.767889

In [30]:
y

               postal code
0               3454178378
1     35.767750, 50.057667
2     35.767750, 50.057667
3     35.767750, 50.057667
4     35.767750, 50.057667
...                    ...
6894  36.288528, 50.007111
6895            3431164685
6896  36.288528, 50.007111
6897  36.288528, 50.007111
6898  35.898278, 49.767889

[6899 rows x 1 columns]

In [31]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [32]:
x_train.shape

(4829, 7)

In [33]:
x_test.shape

(2070, 7)

In [34]:
y_train.shape

(4829, 1)

In [35]:
y_test.shape

(2070, 1)