In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_raw=pd.read_excel('https://github.com/mmortazavi/ml_demystified/raw/main/projects/gis/raw_data.xlsx')
df_raw.head()

,نام,نام خانوادگی,کد ملی,موبایل,مرحله ثبت نام,شهر مورد تقاضا,شهر محل سکونت,آدرس متقاضی,کدپستی,وضعیت بارگذاری مدارک,...,جنسیت,میزان تحصیلات,نام پدر,شماره شناسنامه,تاریخ تولد,تعداد فرزندان,بعد خانوار,کد شعبه,نام شعبه,شماره حساب
0,حسن,گروسی,5098674451,9196177092,فاز 2,بوئین زهرا,بوئین زهرا,امیرآبادکهن خ اصلی گلستان 2,3454178378,بارگذاری نشده,...,مرد,دیپلم,ترابعلی,4442,1357/06/01,3.0,4.0,1668.0,بوئين زهرا,3.299007e+11
1,مرتضی,حاجی حسینی,4390754092,9032353898,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خ بوعلی پ22,3451738961,ناقص,...,مرد,زیر سیکل,غلامرضا,1485,1355/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299008e+11
2,رحمان,رفیعی,4391615207,9919248418,فاز 2,بوئین زهرا,بوئین زهرا,بویین زهرا خیابان الهیه8پلاک18,3451646436,بارگذاری نشده,...,مرد,دیپلم,فرمان,13,1362/02/01,2.0,3.0,1668.0,بوئين زهرا,3.299010e+11
3,ابوالفضل,احمدی,5098799899,9127884216,فاز 2,بوئین زهرا,بوئین زهرا,بوئین زهرا خیابان پاسداران سرو 5 پ 16,3451737955,بارگذاری نشده,...,مرد,سیکل,قربانعلی,634,1351/03/10,2.0,3.0,1668.0,بوئين زهرا,3.299004e+11
4,جعفر,برزگراحمدی,5099580238,9368960462,فاز 2,بوئین زهرا,بوئین زهرا,بلوار امام خمینی خیابان شهیدنصرالهی,3451637311,بارگذاری نشده,...,مرد,فوق دیپلم,محمد,373,1363/06/26,2.0,3.0,1668.0,بوئين زهرا,3.299017e+11

In [3]:
df_raw.isnull().any()

نام                     False
نام خانوادگی            False
کد ملی                  False
موبایل                  False
مرحله ثبت نام           False
شهر مورد تقاضا          False
شهر محل سکونت           False
آدرس متقاضی              True
کدپستی                   True
وضعیت بارگذاری مدارک    False
وضعیت سرپرستی           False
شغل                      True
جنسیت                   False
میزان تحصیلات           False
نام پدر                 False
شماره شناسنامه          False
تاریخ تولد              False
تعداد فرزندان            True
بعد خانوار               True
کد شعبه                  True
نام شعبه                 True
شماره حساب               True
dtype: bool

In [5]:
print( df_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6899 entries, 0 to 6898
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   نام                   6899 non-null   object
 1   نام خانوادگی          6899 non-null   object
 2   کد ملی                6899 non-null   int64
 3   موبایل                6899 non-null   int64
 4   مرحله ثبت نام         6899 non-null   object
 5   شهر مورد تقاضا        6899 non-null   object
 6   شهر محل سکونت         6899 non-null   object
 7   آدرس متقاضی           6523 non-null   object
 8   کدپستی                6214 non-null   object
 9   وضعیت بارگذاری مدارک  6899 non-null   object
 10  وضعیت سرپرستی         6899 non-null   object
 11  شغل                   1074 non-null   object
 12  جنسیت                 6899 non-null   object
 13  میزان تحصیلات         6899 non-null   object
 14  نام پدر               6899 non-null   object
 15  شماره شناسنامه        6899 non-null   int64
 16  تاریخ تولد            6899 non-null   object
 17  تعداد فرزندان         6269 non-null   float64
 18  بعد خانوار            6269 non-null   float64
 19  کد شعبه               4633 non-null   float64
 20  نام شعبه              4633 non-null   object
 21  شماره حساب            4633 non-null   float64
dtypes: float64(4), int64(3), object(15)
memory usage: 1.2+ MB
None

In [6]:
df_raw.describe()

,کد ملی,موبایل,شماره شناسنامه,تعداد فرزندان,بعد خانوار,کد شعبه,شماره حساب
count,6.899000e+03,6.899000e+03,6.899000e+03,6269.000000,6269.000000,4633.000000,4.633000e+03
mean,4.350745e+09,9.236167e+09,1.251095e+12,1.064604,2.026320,2459.057414,3.299029e+11
std,1.222729e+09,2.000527e+08,7.339644e+13,0.940885,0.945943,839.543892,1.605981e+06
min,1.079881e+07,9.010215e+09,0.000000e+00,0.000000,1.000000,1111.000000,3.299001e+11
25%,4.310812e+09,9.126819e+09,3.100000e+02,0.000000,1.000000,1668.000000,3.299021e+11
50%,4.324545e+09,9.191938e+09,2.126000e+03,1.000000,2.000000,2864.000000,3.299028e+11
75%,5.090070e+09,9.199884e+09,4.310092e+09,2.000000,3.000000,2864.000000,3.299039e+11
max,6.770015e+09,9.991458e+09,4.311339e+15,7.000000,8.000000,4281.000000,3.299058e+11